footer.footer
    .footer__logo
        img(src='/img/logo-green.png', alt='Natours logo')
    ul.footer__nav
        li: a(href='/') Главная
    p.footer__copyright &copy; by Shaxa Y. All rights reserved.